body{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}

#painel{
    background-color:rgb(67, 66, 66);
    width:300px;
    height:300px;
}
#painel h2{
    text-align: center;
}
#painel.erro{
    background-color:red;
     width:300px;
    height:300px;
}