/*CONFIGURAÇÕES GERAIS */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
 background-color:rgb(5, 5, 5);
 display:flex;
  color:white;
  min-height:100vh;
  flex-direction:column;
}

a{
    text-decoration:none;
    color:white;
}
/*HEADER PRINCIPAL */
.cabeçalho{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-bottom:solid 3px white;
    padding:30px 6%;
    box-shadow:rgb(235, 209, 191) 5px 5px 10px;
    border-radius:10px;
    background-color:rgb(17, 17, 17)
}

.logo{
    font-size:50px;
    letter-spacing:2px;
    font-weight:bolder;
}
.cabeçalho a{
    margin-left:25px;
    font-weight:bold;
    transition:color 0.5s ease;
}
.cabeçalho a:hover{
    color:rgb(27, 215, 27);
}
/* MENU */

.menu{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding:40px 6%;
    gap:50px;
    
}
.texto-principal{
    margin-top:70px;

}

.texto-principal h2{
    font-size:30px;
    background-color:rgb(38, 36, 36);
    box-shadow: rgb(34, 28, 28) 5px 5px 5px;
    border-radius:10px;
    width:450px;
    height:200px;
    padding:40px 5%;
}

.texto-principal p{
    font-size:25px;
    margin-top:45px;
    color: rgb(212, 211, 211);
    font-weight:bolder;
}
.texto-02{
    grid-column:1 / -1;
    font-size:15px;
    margin-top:25px;
    background-color:rgb(38, 36, 36);
    box-shadow: rgb(34, 28, 28) 5px 5px 5px;
    border-radius:10px;
    width:450px;
    height:200px;
    padding:40px 5%;
}
.texto-02 h3{
    text-align:center;
}

    /* INPUT E LABEL */

.cadastro{
    display:flex;
    background-color:rgb(35, 34, 34);
    border-radius:10px;
    box-shadow:rgb(50, 48, 48) 0 20px 20px;
    border:solid 10px rgb(41, 39, 39);
}
.cadastro form{
    display:flex;
    flex-direction:column;
    gap:30px;
}
.textinho-01{
    text-transform:uppercase;
    font-weight:bolder;
    font-size:25px;
    padding-left:20px;
    margin-top:20px;
}
.email-01{
    font-weight:bolder;
    padding:25px;
}
.email-01 input{
    margin-top:20px;
    background-color:rgb(21, 19, 19);
   width:500px;
   height:50px;
   outline:none;
   border-radius:5px;
   transition:border-color 0.3s ease;
   padding:10px;
   border:solid 2px rgb(60, 57, 57);
}

.senha-01{
    font-weight:bolder;
    padding:25px;
    margin-top:10px;
}
.senha-01 input {
   background-color:rgb(21, 19, 19);
   width:500px;
   height:50px;
   outline:none;
   border-radius:5px;
   border:solid 2px rgb(60, 57, 57);
   padding:10px;
   transition: border-color 0.3s ease;
   margin-bottom:20px;
}
.senha-01 input:focus{
border-color:rgb(29, 182, 29);
}
.email-01 input:focus{
    border-color:rgb(29, 182, 29);

}
.butao-01{
    padding:15px 5%;
    margin-left:65px;
    width:500px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border:solid 5px rgb(43, 42, 42);
    border-radius:10px;
    background-color:rgb(229, 50, 50);
    font-size:20px;
    font-weight:bolder;
    color:rgb(251, 249, 249);
}
.butao-01:hover{
      background-color:rgb(29, 182, 29);
      transform:translateY(-6px);
}
.butao-01:active{
    transform:translateY(0px);
}
