body{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
div{
    margin-top:25px;
    background-color: purple;
    padding:20px;
    border:solid 10px black;
    border-radius: 10px;
}
 button{
    margin-top:15px;
    background-color: aqua;
    outline:none;
    box-shadow: none;
    width:70px;
    height:70px;
   
    border-radius: 5px;
 }