.container1{
    background-color:blue;
    height:100px;
    width:100px;
    
}
.container2{
    background-color: yellow;
    height:100px;
    width:100px;
}
.container3{
    background-color:purple;
    height:100px;
    width:100px;
}
body{
    display:flex;
    flex-wrap:wrap;
    
    align-items:flex-start;
    height:100vh;
    
}